body[data-theme="light"] {
    @import '../src/scss/light-slider.scss';
 
    .slider-tab {
       background-color: #D7CAAA;
    }
    .header-icon {
        color: white;
        opacity: 0.8;
     }
}